.port-template {
    --port-tree-line: #c4c4c4;
}
@media (prefers-color-scheme: dark) {
    .port-template {
        --port-tree-line: rgba(255, 255, 255, 0.4);
    }
}

.port-rows-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 10px;
}

.port-box {
    position: relative;
    padding-left: 24px;
    margin-top: 16px;
}

.port-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 10px;
    bottom: 0;
    border-left: 1px dashed var(--port-tree-line);
}

.port-box::after {
    content: "";
    position: absolute;
    top: 16px;
    left: 10px;
    width: 14px;
    border-top: 1px dashed var(--port-tree-line);
}

.port-box:last-child::before {
    bottom: 16px;
}

.port-box-children {
    margin-left: 14px;
}

.port-info-box {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
}

.action-bar {
    display: flex;
    gap: 24px;
    align-items: center;
}

.action-card {
    display: flex;
    gap:16px;
    align-items: center;
    background-color: #999999;
    border-radius: 4px;
}

.delete-button {
    background: none;
}
.delete-button:hover {
    border: none;
}

.add-button {
    font-size: 12px;
    padding: 12px;
    background: none;
}

.readonly-toogle-wrapper {
    margin-left: 16px;
}

